## Summary 

- Goal: Determine what caused the dip at the end of the chart shown above and, if appropriate, recommending solutions for the problem.

- Hypothesis to test: 
        a) Less engagement: people do not like the product anymore
        b) Seasonal dip 
        c) 'Wrong' measuring of the data

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
path = '/Users/danielvalle/Documents/Coding/Insight/Data_challenges/Customer_cliff_dive/Data/'

In [3]:
users = pd.read_csv(path + 'yammer_users.csv')
events = pd.read_csv(path + 'yammer_events.csv')
emails = pd.read_csv(path + 'yammer_emails.csv')

In [10]:
data = pd.merge(users, events, left_on='user_id', right_on='user_id')
data.head()

,user_id,created_at,company_id,language,activated_at,state,occurred_at,event_type,event_name,location,device,user_type
0,4.0,2013-01-01 14:37:51,5110.0,indian,2013-01-01 14:39:05,active,2014-05-13 09:31:47,engagement,login,India,lenovo thinkpad,3.0
1,4.0,2013-01-01 14:37:51,5110.0,indian,2013-01-01 14:39:05,active,2014-05-13 09:32:10,engagement,home_page,India,lenovo thinkpad,3.0
2,4.0,2013-01-01 14:37:51,5110.0,indian,2013-01-01 14:39:05,active,2014-05-13 09:32:26,engagement,search_autocomplete,India,lenovo thinkpad,3.0
3,4.0,2013-01-01 14:37:51,5110.0,indian,2013-01-01 14:39:05,active,2014-05-13 09:32:58,engagement,search_autocomplete,India,lenovo thinkpad,3.0
4,4.0,2013-01-01 14:37:51,5110.0,indian,2013-01-01 14:39:05,active,2014-05-24 11:39:53,engagement,login,India,samsung galaxy s4,3.0

In [14]:
data = pd.merge(data, emails, left_on='user_id', right_on='user_id')
data.head()

,user_id,created_at,company_id,language,activated_at,state,occurred_at_x,event_type,event_name,location,device,user_type_x,occurred_at_y,action,user_type_y
0,4.0,2013-01-01 14:37:51,5110.0,indian,2013-01-01 14:39:05,active,2014-05-13 09:31:47,engagement,login,India,lenovo thinkpad,3.0,2014-05-06 09:30:00,sent_weekly_digest,3.0
1,4.0,2013-01-01 14:37:51,5110.0,indian,2013-01-01 14:39:05,active,2014-05-13 09:31:47,engagement,login,India,lenovo thinkpad,3.0,2014-05-13 09:30:00,sent_weekly_digest,3.0
2,4.0,2013-01-01 14:37:51,5110.0,indian,2013-01-01 14:39:05,active,2014-05-13 09:31:47,engagement,login,India,lenovo thinkpad,3.0,2014-05-13 09:30:34,email_open,3.0
3,4.0,2013-01-01 14:37:51,5110.0,indian,2013-01-01 14:39:05,active,2014-05-13 09:31:47,engagement,login,India,lenovo thinkpad,3.0,2014-05-13 09:31:07,email_clickthrough,3.0
4,4.0,2013-01-01 14:37:51,5110.0,indian,2013-01-01 14:39:05,active,2014-05-13 09:31:47,engagement,login,India,lenovo thinkpad,3.0,2014-05-20 09:30:00,sent_weekly_digest,3.0